
body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-width: 280px;
}



header {
    flex-wrap: wrap;
}
.div1 {
background-color: #ff7300;

display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
flex-wrap: wrap;
}

.div1 img {
    height: 70px;
    border-top: 10px;
}

.div1 ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    cursor: pointer;

}

.div1 li,a {
    color: white;
    font-size: 22px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
 .div1 a:hover{
    color: #000000;
 }

/*Imagem de fundo sessão 1*/
.carrossel {
    background-image:linear-gradient(to bottom, transparent, #ffffff77 100%), url(./img/painel_solar.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.texto-central1 p{   
    color: #ff7300;
    font-size: 80px;
    margin: auto;
}

.texto-central2 p{   
    color: #ff7300;
    font-size: 40px;
    margin: auto;
}


/*Sobre nós sessão 2*/
.conteudo{
    background-color: #ff7300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px auto;
    flex-wrap: wrap;  
}

.divtexto{
    max-width: 1000px;
}
.conteudo img{
    width:350px;
    margin-top: 15px;
}

.conteudo p,h1{
    color: white;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

/*Section 3 Serviços*/

.servicos h2{
    text-align: center;
    color: #ff7300;
    padding: 30px;
    font-size: 50px;
    margin: 0%;  
}
.servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px auto;
    flex-wrap: wrap;  
}

.servicostexto{
    max-width: 1000px;
}
.servicos img{
    width:400px;
    padding: 15px;
}

.servicos p,h2{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}


/*Icones-------------------------------------------------*/

.divicones{
    background-color: #ffe600d3;
    display: flex;
    display: block;
    text-align: center;
    color: #3f3f3f; 
}

.divicones ul{
    display:flex;
    justify-content: space-around;
    align-items: center; 
    font-size: 18px;
    list-style: none;
    height: 400px;
    flex-wrap: wrap; 
}

.divicones h2{
    padding: 30px;
    font-size: 50px;
    margin: 0%;
}

.divicones img{
    width: 80px;
} 

/*Marcas sessão 3-----------------------------------------*/
.marcas{
    height: 400px; 
}

.marcas h2{
    text-align: center;
    font-size: 50px;
    color: #eb6c12;
}
.marcas ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    flex-wrap: wrap; 
}

.marcas img{
    width: 200px;   
}
#contact{
    background-color: #eb6c12;
    display :flex;
    justify-content: space-between;
    text-align: center;
}

.contact-methods{
    background-color: #ffffff;
    border-radius: 2%;
    margin: 30px ;
    flex-wrap: wrap; 
    
}

.contact-methods h3{
    color: #eb6c12;
    font-size: 20px;

}

form input,
form textarea {
    display: block;
    width: 350px;
    padding: 8px;
    margin: 10px;
}

form textarea {
    resize: none;
    height: 100px;
}

form button{
background-color: #eb6c12;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border:none;
    width: 368px;
    padding: 8px;
    margin: 10px;
}

form button:hover{
    background-color: #df9152;
}

.bnt-whatsapp{
    align-items: end;
    justify-content: flex-end;
    position: relative;
    outline: none;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    cursor: pointer;
    background-color: rgb(66, 212, 21);
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    border: 2px solid cornsilk;

    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running; 
}
/*
@keyframes pulsar {
    0% {
        height: 65px;
        width: 65px;
    }
    100%{
        height: 75px;
        width: 75px;
    }
}
*/
.bnt-whatsapp a{
    color: inherit;
}

.whatsapp{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
    margin-bottom: 20px;
}

footer{
background-color: #eb6c12;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

footer p{
    margin-left: 10px;
    color: white;
    font-size: 15px;
}

