
html { scroll-behavior:smooth} /* Validar se esse código permite rolar suavemente a página*/
*{
    box-sizing: border-box; /*Padrão para estilos de css, tamanho da caixa, permite incorporar os pagins e margens no estilo*/
}
body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-width: 50vh;    
}

.div1 {
background-color: rgba(0, 0, 0, 0.85);
}
.div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.div1 img {
    height: 100px;
    border-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.div1 ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 0%;
    margin-bottom: 0%;

}

.div1 li,a {
    color: white;
    font-size: 22px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.div1 li:hover{
    background-color: #ff7300;
}

/*Imagem de fundo sessão 1*/
.carrossel {
    background-image:linear-gradient(to bottom, transparent, #ffffff77 100%), url(./img/painel_solar.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}

.texto-central1 p{   
    color: #ff7300;
    font-size: 80px;
    margin: auto;
    flex-wrap: wrap;
    
}

.texto-central2 p{   
    color: #ff7300;
    font-size: 50px;
    margin: auto;
    flex-wrap: wrap;
}

/*Sobre nós sessão 2-----------------------------------*/

#sec-sobrenos{
    background-color: #ff7300; 
}

.sobrenos {
    height: auto;
    display: flex;
    min-height: 930px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.sobrenostexto{
    max-width: 1000px;
    font-size: 22px;
}

.sobrenos img{
    width:600px;
    padding: 15px;
}

.sobrenos p,h1{
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    flex-wrap: wrap;
    
}

.sobrenos p{
    color: #ffffff;  
    text-align: left;
    font-size: 30px;
}

/*Section 3 Serviços---------------------------------------------------*/
.servicos{
    display: flex;
    min-height: 930px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

.servicostexto{
    max-width: 1000px;
}
.servicos img{
    width:600px;
    padding: 15px;
}

.servicos p,h2{
    color: #ff7300;
    margin: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.servicos p{
    color: #2b2b2b;
    text-align: left;
    font-size: 30px;
}
/*Icones-------------------------------------------------*/

.divicones{
    background-color: #ffe600d3;
    display: flex;
    display: block;
    text-align: center;
    width: 100%;
    height: 700px;
    color: #000000;
}

.divicones ul{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; 
    list-style: none;
    font-size: 18px;
    margin-top: 30px;
    padding-inline-start:0px;
}

.divicones li{
    padding: 10px;
    max-width: 250px;
    flex-wrap: wrap;
}

.divicones p{
    flex-wrap: wrap;
}
.divicones h2{
    font-size: 50px;
    color: #2b2b2b;
    padding: 20px;
    text-align: center;
}

.divicones img{
    width: 150px;
} 

/*Marcas sessão 3-----------------------------------------*/
.marcas{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.marcas h2{
    text-align: center;
    font-size: 50px;
    color: #ff7300;
}
.marcas li{
    display: flex;
}
.marcas ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    height: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 5px; 
}

.marcas p{
    display: flex;
    flex-direction: column;
    
}

.marcas img{
    width: 450px;
    margin: 20px;   
}
/*Contact 4-----------------------------------------*/
#contact{
    background-color: #eb6c12;
    display :flex;
    justify-content: space-around;
    align-items: end;
    text-align: center;
    flex-wrap: wrap;
}

.contact-methods{
    background-color: rgba(255, 255, 255);
    box-shadow: 2px 1px 10px 1px rgb(22, 22, 22);
    border-radius: 2%;
    margin: 30px;
    
}

.contact-methods h3{
    color: #eb6c12;
    font-size: 20px;
    padding: 30px;
}

.contatos{
    color:white;
    text-align: start;
    align-items: left;
    margin-bottom: 30px;
}

.contatos a{
    display: flex;
    padding: none;
}
.contatos h3{
    display: flex;
    padding: 10px;
}
.contatos img{
margin-right: 5px;
}

.contatos ul {
list-style: none;
padding-inline-start: 0px;
}

form input,
form textarea {
    display: block;
    width: 350px;
    padding: 8px;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

form textarea {
    resize: none;
    height: 80px;
}

form button{
background-color: #eb6c12;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border:none;
    width: 350px;
    padding: 8px;
    margin: 10px;
}

form button:hover{
    background-color: #000000;
}

.bnt-whatsapp{
    align-items: end;
    justify-content: flex-end;
    position: relative;
    outline: none;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    cursor: pointer;
    background-color: rgb(66, 212, 21);
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    border: 2px solid cornsilk;
}
.bnt-whatsapp a{
    color: inherit;
}

.whatsapp{
    display: flex;
    justify-content: start;
    align-items: start;
}
.whatsapp img {
    width:300%;
    display: flex;
    justify-content: start;
    align-items: start;
    position: fixed;
}

footer{
background-color: #000000;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

footer p{
    margin-left: 10px;
    color: white;
    font-size: 15px;
}

@media screen and (max-width :750px){ /* Altera a div para ser exibida em linhas se o tamanho da tela chegar a 600px */
    .body{
        flex-direction: column;
        }

    .div1 {
        display: block;

        }
    .div1 img{
    margin-top: 20px;
    }

    .div1 nav {
    background-color: #000000;
    display: flex;
    justify-content: center;
    }
    
    .div1 ul{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    
    }
    .div1 li{
        padding: 0px;
        
        }
    .div1 a{
        font-size: 15px;
    }    
    .texto-central1 p{
    font-size: 45px;
    }
    .texto-central2 p{
    font-size: 30px;
    }
    .sobrenos p{
        font-size: 25px;

    }
    .sobrenos h1{
        font-size: 40px;
        text-align: center;

    }
    .sobrenos img{
        width:500px;
    }

    .servicos img{
    width:350px;
    }
    .servicos p{
        font-size: 25px;
        }
    .servicos h2{
        font-size: 40px;
        text-align: center;
        }
    
    .divicones {
    height: auto;
    }
    .divicones h2 {
        font-size: 40px;
    }

    .marcas img{
        width:350px;
        padding: 15px;
        }
        .marcas h2{
        font-size: 40px;
        }
}