
html { scroll-behavior:smooth} /* Validar se esse código permite rolar suavemente a página*/

body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-width: 50vh;    
}

.div1 {
background-color: #ff7300;

display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
flex-wrap: wrap;
}

.div1 img {
    height: 80px;
    border-top: 10px;
    padding: 10px;
}

.div1 ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 0%;
    margin-bottom: 0%;

}

.div1 li,a {
    color: white;
    font-size: 22px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

.div1 li:hover{
    background-color: #eeab1a;
}


/*Imagem de fundo sessão 1*/
.carrossel {
    background-image:linear-gradient(to bottom, transparent, #ffffff77 100%), url(./img/painel_solar.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.texto-central1 p{   
    color: #ff7300;
    font-size: 80px;
    margin: auto;
    flex-wrap: wrap;
    
}

.texto-central2 p{   
    color: #ff7300;
    font-size: 40px;
    margin: auto;
    flex-wrap: wrap;
}

/*Sobre nós sessão 2*/
.conteudo{
    background-color: #ff7300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px auto;
    flex-wrap: wrap;  
}

.divtexto{
    max-width: 1000px;
}
.conteudo img{
    width:350px;
    margin-top: 15px;
}

.conteudo p,h1{
    color: white;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

/*Section 3 Serviços*/

.servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px auto;
    text-align: left;
    flex-wrap: wrap;  
}

.servicostexto{
    max-width: 1000px;
}
.servicos img{
    width:300px;
    padding: 15px;
}

.servicos p,h2{
    color: #ff7300;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}
.servicos p{
    color: #2b2b2b;
}
/*Icones-------------------------------------------------*/

.divicones{
    background-color: #ffe600d3;
    display: flex;
    display: block;
    text-align: center;
    height: 500px auto;
    color: #000000;
    
}

.divicones ul{
    display:flex;
    justify-content: space-around;
    align-items: flex-start; 
    list-style: none;
    font-size: 18px;
    flex-wrap: wrap; 
    margin-top: 30px;
    padding-inline-start:0px;
}

.divicones li{
    padding: 10px;
    max-width: 150px;
}

.divicones h2{
    font-size: 40px;
    color: #2b2b2b;
    padding: 20px;
}

.divicones img{
    width: 80px;
} 

/*Marcas sessão 3-----------------------------------------*/
.marcas{
    height: 400px;
}

.marcas h2{
    text-align: center;
    font-size: 40px;
    color: #ff7300;
}
.marcas ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    height: 500px auto;
    flex-wrap: wrap;
    padding: 5px; 
}

.marcas img{
    width: 200px;
    margin: 0px;   
}

#contact{
    background-color: #eb6c12;
    display :flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.contact-methods{
    background-color: #ffffff;
    border-radius: 2%;
    margin: 30px;
    
}

.contact-methods h3{
    color: #eb6c12;
    font-size: 20px;
    
}

.contatos{
    color:white;
    text-align: start;
    margin: 10px;
    
}

.contatos ul{
    list-style: none;
    padding: 0px;

}

form input,
form textarea {
    display: block;
    width: 350px;
    padding: 8px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

form textarea {
    resize: none;
    height: 100px;
}

form button{
background-color: #eb6c12;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border:none;
    width: 368px;
    padding: 8px;
    margin: 10px;
}

form button:hover{
    background-color: #000000;
}

.bnt-whatsapp{
    align-items: end;
    justify-content: flex-end;
    position: relative;
    outline: none;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    cursor: pointer;
    background-color: rgb(66, 212, 21);
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    border: 2px solid cornsilk;

    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running; 
}
/*
@keyframes pulsar {
    0% {
        height: 65px;
        width: 65px;
    }
    100%{
        height: 75px;
        width: 75px;
    }
}
*/
.bnt-whatsapp a{
    color: inherit;
}

.whatsapp{
    display: flex;
    justify-content: start;
    align-items: start;
    
}

footer{
background-color: #000000;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

footer p{
    margin-left: 10px;
    color: white;
    font-size: 15px;
}

@media screen and (max-width :750px){ /* Altera a div para ser exibida em linhas se o tamanho da tela chegar a 600px */
    .body{
        flex-direction: column;
        }
    .div1 {
        display: block;
        height: 180px;
        }
    .div1 img{
    margin-top: 20px;
    }

    .div1 nav {
    background-color: #000000;
    margin: 0%;
    margin: 0px;
}
    .div1 ul{
    flex-direction: row;
    justify-content: center;
    
    
    }
    .div1 li{
        padding: 0px;
        }
    .div1 a{
        font-size: 15px;
    }    
    .texto-central1 p{
    font-size: 45px;
    }
    .texto-central2 p{
    font-size: 30px;
    }
    .servicos img{
    width:350px;
    }
}